
.jumbotron {
    padding-top: 6rem;
    background-color:grey;
}

#PD {
    background-color: grey;
}
#KH {
    background-color: grey;
}
section{
    padding-top: 6rem;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 4px;
}
.dot.active {
    background-color: white;
}